<div *ngIf="!selectedAuthor">
  <h2>Sorry can't find the requested author...</h2>
</div>
<div *ngIf="selectedAuthor">
  <h2>Here are details of the Book {{ selectedAuthor.id }}</h2>
  <div class="row">
    <div class="col-3">FirstName:</div>
    <div class="col-9">{{ selectedAuthor.firstName }}</div>
  </div>
  <div class="row">
    <div class="col-3">LastName:</div>
    <div class="col-9">{{ selectedAuthor.lastName }}</div>
  </div>
  <div class="row">
    <div class="col-3">Id:</div>
    <div class="col-9">{{ selectedAuthor.id }}</div>
  </div>
</div>
